.forecast-summaries {
  display: flex;
  justify-content: space-between;
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15px;
}

.forecast-summary {
  border: solid 2px;
  border-radius: 10px;
  background: #86bbd8;
  padding: 30px;
  width: 12%;
}

.forecast-summary__icon {
  font-size: 40px;
  padding: 10px;
}

.forecast-summary__button {
  margin-top: 25px;
  padding: 2px 10px 2px 10px;
  border: 1px solid;
  border-radius: 6px;
}

.forecast-summary__button:hover {
  background-color: #4d7ea8;
}
