@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400&family=M+PLUS+Rounded+1c&display=swap");

*,
html {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dad3d2;
}

button {
  font-family: "Jost", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}
